node_modules/
.idea/
ios/bloodtorrent.xcodeproj/project.pbxproj
web/apache/logs/
artifacts/
.sass-cache/
web/public/*
ios/public/*
ios/Pods/Pods.xcodeproj/
tags
droid/bloodtorrent/Bloodtorrent.iml
droid/bloodtorrent/bin
droid/bloodtorrent/ivy-report.css
droid/bloodtorrent/ivy/
droid/bloodtorrent/libs/
droid/bloodtorrent/assets/
droid/bloodtorrent/gen/
