%div#requestDetail.page

  %script#requestDetailTmpl(type="text/html")
    {{#requestDetail}}
    <dt>Blood group :</dt>
    <dd>{{blood_group}}</dd>
    <dt>Quantity :</dt>
    <dd>{{quantity}}</dd>
    <dt>Phone Number :</dt>
    <dd>{{phone_number}}</dd>
    {{/requestDetail}}
  %h3 Donation Request Detail
  %dl#request_detail
