%div#requestList.page

  %script#donationRequestTmpl(type="text/html")
    {{#donationRequests}}
    <li class="donationRequest" data-request-id={{id}}> {{blood_group}} {{quantity}} {{contact_details}}</li>
    {{/donationRequests}}
  %h3 Donation Request
  %ul#request_list
