%div#requestDetail.page

  %script#requestDetailTmpl(type="text/html")
    {{#requestDetail}}
    <dt>Blood group :</dt>
    <dd>{{blood_group}}</dd>
    <dt>Quantity :</dt>
    <dd>{{quantity}}</dd>
    <dt>Latitude</dt>
    <dd>{{latitude}}</dd>
    <dt>Longitude</dt>
    <dd>{{longitude}}</dd>
    <dt>Contact Details:</dt>
    <dd>{{contact_details}}</dd>
    {{/requestDetail}}
  %h3 Donation Request Detail
  %dl#request_detail
