!!!
%html
  %head
    -%w{zepto ICanHaz underscore}.each do |filename|
      %script(type="text/javascript" src="scripts/#{filename}.js")

    - Calatrava::Project.current.mobile_web.scripts.each do |filename|
      %script(type="text/javascript" src="#{filename}")

    - Dir.foreach(Calatrava::Project.current.mobile_web.styles_build_dir) do |file|
      %link(rel="stylesheet" href="styles/#{File.basename(file)}")
    %script(type="text/javascript" src="scripts/repository.donationRequest.js")

  %body
    %div#app_container.container
      - Calatrava::Project.current.mobile_web.haml_files.each do |hf|
        = render_partial hf

  :javascript
    $(document).ready(function(){
      bloodTorrent.donationRequest.start();
    });
